.sidenav {
    background-color: #c02e5a;
    width: 200px;
}

.sidenav a {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    overscroll-behavior-block: #FFF;
}
 